.btn{
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #616bee;
  color: white;
}

.btn:disabled {
  background: var(--white);
  color: var(--text);
  cursor: not-allowed;
}

.btn-red{
  background-color: var(--red)
}